body {
    font-family: 'Lora', "Bookman", Georgia, "Times New Roman", serif;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNiIgaGVpZ2h0PSI2Ij4KPHJlY3Qgd2lkdGg9IjYiIGhlaWdodD0iNiIgZmlsbD0iI2VlZWVlZSI+PC9yZWN0Pgo8ZyBpZD0iYyI+CjxyZWN0IHdpZHRoPSIzIiBoZWlnaHQ9IjMiIGZpbGw9IiNlYWVhZWEiPjwvcmVjdD4KPHJlY3QgeT0iMSIgd2lkdGg9IjMiIGhlaWdodD0iMiIgZmlsbD0iI2UyZTJlMiI+PC9yZWN0Pgo8L2c+Cjx1c2UgeGxpbms6aHJlZj0iI2MiIHg9IjMiIHk9IjMiPjwvdXNlPgo8L3N2Zz4=");
}

.nav {
    font-family: 'Raleway', Arial, Helvetica, Sans-serif;
    font-weight: 400;
}

.nav, .pagination, .carousel, .panel-title a, a.anchor {
    cursor: pointer;
}

.navbar-default {
    border-color: #2F546E;
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.07);
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSIxNSI+CjxyZWN0IHdpZHRoPSI1MCIgaGVpZ2h0PSI1MCIgZmlsbD0iIzJENDQ2RSI+PC9yZWN0Pgo8Y2lyY2xlIGN4PSIzIiBjeT0iNC4zIiByPSIxLjgiIGZpbGw9IiMzNzRFNzgiPjwvY2lyY2xlPgo8Y2lyY2xlIGN4PSIzIiBjeT0iMyIgcj0iMS44IiBmaWxsPSIjMjgzQjVDIj48L2NpcmNsZT4KPGNpcmNsZSBjeD0iMTAuNSIgY3k9IjEyLjUiIHI9IjEuOCIgZmlsbD0iIzM3NEU3OCI+PC9jaXJjbGU+CjxjaXJjbGUgY3g9IjEwLjUiIGN5PSIxMS4zIiByPSIxLjgiIGZpbGw9IiMyODNCNUMiPjwvY2lyY2xlPgo8L3N2Zz4=");
}

.navbar-default .navbar-nav>li>a {
    color: #C7C7C7;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #E8E8E8;
}

.navbar-default .navbar-brand {
    color: #C7C7C7;
}
.navbar-default .navbar-brand:hover {
    color: #E8E8E8;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.2);
}

div.post {
    position: relative;
    font-size: 16px;
}
div.post .article {
    margin: 30px;
}

div.post h1 {
    font-family: 'Raleway', Arial, Helvetica, Sans-serif;
    font-weight: 200;
    font-size: 40px;
    margin-left: 37px;
    padding-top: 10px;
    margin-bottom: 20px;
}

div.post .timestamp {
    position: absolute;
    font-family: 'Raleway', Arial, Helvetica, Sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #A5A5A5;;
}
div.post .timestamp .img-circle {
    width: 60px;
    height: 60px;
    padding-top: 6px;
    background-color: #c3c3c3;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.07);
}
div.post .topText {
    display: block;
    height: 20px;
    font-size: 26px;
    color: #F4F4F4;
}
div.post .bottomText {

}