body {
    font-family: 'Merriweather', "Bookman", Georgia, "Times New Roman", serif;
    background-attachment: fixed;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNCIgaGVpZ2h0PSI0Ij4KPHJlY3Qgd2lkdGg9IjYiIGhlaWdodD0iNiIgZmlsbD0iI2VlZWVlZSI+PC9yZWN0Pgo8ZyBpZD0iYyI+CjxyZWN0IHdpZHRoPSIzIiBoZWlnaHQ9IjMiIGZpbGw9IiNmYWZhZmEiPjwvcmVjdD4KPHJlY3QgeT0iMSIgd2lkdGg9IjMiIGhlaWdodD0iMiIgZmlsbD0iI2Y2ZjZmNiI+PC9yZWN0Pgo8L2c+Cjx1c2UgeGxpbms6aHJlZj0iI2MiIHg9IjMiIHk9IjMiPjwvdXNlPgo8L3N2Zz4=");
}
pre {
    background-color: #E8E8E8;
}

.container-fluid {
    max-width: 1200px;
}
.witt-menu {
    border-bottom: 1px solid #AEB7BD;
}

.nav {
    font-weight: 400;
}

.nav, .pagination, .carousel, .panel-title a, a.anchor {
    cursor: pointer;
}

.navbar-default {
    font-family: 'Raleway', Arial, Helvetica, Sans-serif;
    border: none;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNCIgaGVpZ2h0PSI0Ij4KPHJlY3Qgd2lkdGg9IjYiIGhlaWdodD0iNiIgZmlsbD0iI2VlZWVlZSI+PC9yZWN0Pgo8ZyBpZD0iYyI+CjxyZWN0IHdpZHRoPSIzIiBoZWlnaHQ9IjMiIGZpbGw9IiNmYWZhZmEiPjwvcmVjdD4KPHJlY3QgeT0iMSIgd2lkdGg9IjMiIGhlaWdodD0iMiIgZmlsbD0iI2Y2ZjZmNiI+PC9yZWN0Pgo8L2c+Cjx1c2UgeGxpbms6aHJlZj0iI2MiIHg9IjMiIHk9IjMiPjwvdXNlPgo8L3N2Zz4=");
}

.navbar-default .navbar-nav>li>a {
    color: #949494;;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #75AAD8;
}

.navbar-default .navbar-brand {
    color: #949494;;
}
.navbar-default .navbar-brand:hover {
    color: #75AAD8;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background: none;
}

div.post {
    position: relative;
    font-size: 16px;
}
div.post .article {
    margin: 30px;
    padding: 0px 20px 20px 20px;
}

div.post a {
    text-decoration: none;
}
div.post a:hover {
    text-decoration: none;
}

div.post h1 {
    font-family: 'Raleway', Arial, Helvetica, Sans-serif;
    font-weight: 200;
    font-size: 40px;
    margin-left: 37px;
    padding-top: 10px;
    margin-bottom: 20px;
}

div.post .timestamp {
    position: absolute;
    top: 7px;
    font-family: 'Raleway', Arial, Helvetica, Sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #A5A5A5;
}
div.post .timestamp .rounded {
    width: 60px;
    height: 51px;
    padding-top: 3px;
    background-color: rgba(223, 223, 223, 1);
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.07);
    border-radius: 2px;
}
div.post .topText {
    display: block;
    height: 18px;
    font-size: 20px;
    color: #969696;
}
div.post .bottomText {

}

/* Book listings */
div.book-listing {
    padding: 12px;
    clear: both;
}
div.book-listing .cover {
    float: left;
    margin-right: 20px;
    background-color: #B7B7B8;
}
div.book-listing h1 {
    font-family: 'Raleway', Arial, Helvetica, Sans-serif;
    margin-top: 0;
    font-weight: 200;
    font-size: 35px;
}
div.book-listing .notes {
    font-size: 16px;
    margin-top: 10px;
}

/* SVG Icons */
.star {
    width: 20px;
    height: 20px;
}
.star-gray {
    fill: #555555;
}
.star-yellow {
    fill: #ECAA32;
}

