body {
    color: #575757;
    font-family: 'Merriweather', "Bookman", Georgia, "Times New Roman", serif;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNCIgaGVpZ2h0PSI0Ij4KPHJlY3Qgd2lkdGg9IjYiIGhlaWdodD0iNiIgZmlsbD0iI2YyZjJmMiI+PC9yZWN0Pgo8ZyBpZD0iYyI+CjxyZWN0IHdpZHRoPSIzIiBoZWlnaHQ9IjMiIGZpbGw9IiNmYWZhZmEiPjwvcmVjdD4KPHJlY3QgeT0iMSIgd2lkdGg9IjMiIGhlaWdodD0iMiIgZmlsbD0iI2Y2ZjZmNiI+PC9yZWN0Pgo8L2c+Cjx1c2UgeGxpbms6aHJlZj0iI2MiIHg9IjMiIHk9IjMiPjwvdXNlPgo8L3N2Zz4=");
}
pre {
    background-color: #E8E8E8;
}

.container-fluid {
    max-width: 1200px;
}
.witt-menu {
    border-bottom: 1px solid #D1D8DD;
}

.nav {
    font-weight: 400;
}

.nav, .pagination, .carousel, .panel-title a, a.anchor {
    cursor: pointer;
}

.navbar-default {
    font-family: 'Raleway', Arial, Helvetica, Sans-serif;
    border: none;
    background: none;
}

.navbar-default .navbar-nav>li>a {
    color: #949494;;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #75AAD8;
}

.navbar-default .navbar-brand {
    color: #949494;;
}
.navbar-default .navbar-brand:hover {
    color: #75AAD8;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background: none;
}

div.post {
    position: relative;
    font-size: 16px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
div.post .article {
    margin: 30px;
    padding: 0px 20px 20px 20px;
}

div.post a {
    text-decoration: none;
}
div.post a:hover {
    text-decoration: none;
}
div.post a h1 {
    color: #8B9DAE;
}
div.post a:hover h1 {
    color: #81A2C2;
}
div.post h1 {
    font-weight: 200;
    font-size: 40px;
    padding-top: 10px;
    margin-bottom: 25px;
    padding-bottom: 18px;
    border-bottom: 1px solid #E2E2E2;
    clear: both;
}
div.post h2 {
    clear: both;
}

div.post .timestamp {
    position: absolute;
    top: 20px;
    left: -20px;
    font-family: 'Raleway', Arial, Helvetica, Sans-serif;
    font-size: 13px;
    color: #D7DBDD;
}

div.post p img {
    border: 1px solid #DFDFDF;
    display: block;
    float: right;
    margin-right: -50px;
    margin-left: 8px;
}

/* Book listings */
div.book-listing {
    padding: 12px;
    clear: both;
}
div.book-listing .cover {
    float: left;
    margin-right: 20px;
    background-color: #B7B7B8;
}
div.book-listing h1 {
    font-family: 'Raleway', Arial, Helvetica, Sans-serif;
    margin-top: 0;
    font-weight: 200;
    font-size: 35px;
}
div.book-listing .notes {
    font-size: 16px;
    margin-top: 10px;
}

/* SVG Icons */
.star {
    width: 20px;
    height: 20px;
}
.star-gray {
    fill: #555555;
}
.star-yellow {
    fill: #ECAA32;
}

