$color-default = #574847
$color-code = #67727d
$color-border-light = #CDD3D8
$color-link = #1e62a5
$color-header-link = #465d77
$color-header-link-hover = #56768e
$color-link-hover = #30a2e4
$color-light-text = #AFBABD
$color-green-text = #59bc86
$color-blue-text = #0ca0da
$color-deepBlue-text = #375b7d
$color-magenta-text = #b567a8
