//BW
$color-white = #ffffff
$color-black = #000000

//Grey
$color-grey50 = #fafafa
$color-grey100 = #f5f5f5
$color-grey200 = #eeeeee
$color-grey300 = #e0e0e0
$color-grey400 = #bdbdbd
$color-grey500 = #9e9e9e
$color-grey600 = #757575
$color-grey700 = #616161
$color-grey800 = #424242
$color-grey900 = #212121
$color-grey = $color-grey500

//Blue Grey
$color-blueGrey50 = #ECEFF1
$color-blueGrey100 = #CFD8DC
$color-blueGrey200 = #B0BEC5
$color-blueGrey300 = #90A4AE
$color-blueGrey400 = #78909C
$color-blueGrey500 = #607D8B
$color-blueGrey600 = #546E7A
$color-blueGrey700 = #455A64
$color-blueGrey800 = #37474F
$color-blueGrey900 = #263238
$color-blueGrey = $color-blueGrey500

$color-primaryText = rgba($color-black, .87)
$color-secondaryText = rgba($color-black, .70)

$color-default = $color-primaryText
$color-header-link = rgba($color-blueGrey900, .87)
$color-header-link-hover = $color-blueGrey900
$color-border-light = #CDD3D8
$color-link = #1e62a5
$color-link-hover = #30a2e4

//Code
$color-code = #67727d
$color-code-light = #94a4b4
$color-light-text = #AFBABD
$color-green-text = #59bc86
$color-blue-text = #0ca0da
$color-cyan-text = #28a7ac
$color-deepBlue-text = #375b7d
$color-magenta-text = #b567a8
