$ideal-width = calc(40vw + 180px)

$content-box-font-size = calc(0.6vw + 8pt);

content-box-width()
  min-width 300px
  width 50%
  width $ideal-width;

content-box()
  content-box-width()
  margin-right auto
  margin-left auto

wrapper-padding()
  padding-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 2.5vw;
  padding-top: 2.5vw;