<div class="row">
    <div class="col-md-12">
        <div class="book-listing">
            <div class="cover thumbnail" ng-if="hasCover">
                <a href="{{link}}"><img src="{{book.cover}}" alt="{{book.title}}"/></a>
            </div>

            <h1 class="title">{{book.title}} <small>
                <star-rating rating="{{book.stars}}"></star-rating>
            </small></h1>
            <div>By {{book.author}}</div>
            <div class="notes">
                <ng-showdown content="content">
                </ng-showdown>
            </div>
            <div ng-show="hasAmazon"><a href="{{book.amazonLink}}">Buy <em>{{book.title}}</em> at Amazon</a></div>
            <div ng-show="hasGitHub"><a href="{{book.gitHubLink}}">Open <em>{{book.title}}</em> on GitHub</a></div>
            <div ng-show="onlyLink"><a href="{{book.link}}">Open <em>{{book.title}}</em></a></div>
        </div>
    </div>
</div>