.archive
  position relative

.archive-list
  position relative
  max-width 750px
  margin-left auto
  margin-right auto
  margin-top 30px

  .blog-title
    font-family 'Raleway', Arial, Helvetica, Sans-serif

  .metadata
    display block
    color: #adadad;
    line-height: 15px;
    font-size: 80%;
    font-family Menlo,Monaco,Consolas,"Courier New",monospace

    .timestamp
      display inline
      margin-right 4px