@require "../styles/colors"
@require "../styles/variables"

.archive
  wrapper-padding()

  ul
    font-family 'Lato', Arial, Helvetica, Sans-serif
    .metadata
      margin-top -0.7vh
      margin-bottom 1vh
      .timestamp
        font-style italic
        color rgba($color-secondaryText, .5)
        border none
        background: none
        .timePart
          display inline
