@require "../styles/colors"
@require "../styles/variables"

.navbar
    border-bottom 1px solid $color-border-light
    background-color rgba(0,0,0,0.05)
    font-weight 400
    font-size 80%
    font-family 'Raleway', Arial, Helvetica, Sans-serif

.nabbar-list
    content-box()
    li
        display: inline
        line-height 300%
        margin-right 15px
        a
            cursor pointer
            text-decoration none

        a:hover
            text-decoration none
