@require "../styles/colors"
@require "../styles/variables"

.post-container
    border-bottom 1px solid $color-border-light
    wrapper-padding()

.post
    margin-bottom 5vh

p
    span:before
        content ' '

.metadata
    font-size 80%
    .block
        display block
    .timestamp
        display inline
        color $color-light-text
        font-family monospace
        margin-right 8px
