html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video
    background transparent
    border 0
    font-size 100%
    margin 0
    outline 0
    padding 0
    vertical-align baseline


body
    line-height 1
    color #575757
    font-family 'Lora', "Bookman", Georgia, "Times New Roman", serif
    background-image url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNCIgaGVpZ2h0PSI0Ij4KPHJlY3Qgd2lkdGg9IjYiIGhlaWdodD0iNiIgZmlsbD0iI2YyZjJmMiI+PC9yZWN0Pgo8ZyBpZD0iYyI+CjxyZWN0IHdpZHRoPSIzIiBoZWlnaHQ9IjMiIGZpbGw9IiNmYWZhZmEiPjwvcmVjdD4KPHJlY3QgeT0iMSIgd2lkdGg9IjMiIGhlaWdodD0iMiIgZmlsbD0iI2Y2ZjZmNiI+PC9yZWN0Pgo8L2c+Cjx1c2UgeGxpbms6aHJlZj0iI2MiIHg9IjMiIHk9IjMiPjwvdXNlPgo8L3N2Zz4=")

.clear
    clear both

pre
    background-color #E8E8E8
    font-family Menlo,Monaco,Consolas,"Courier New",monospace
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 15px;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    border: 1px solid #ccc;
    border-radius: 4px;

li, p
    line-height: 32px;
    text-align: justify;

p code
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;

p
    margin: 20px 0;

li
    margin-bottom 12px

h1, h2, h3, h4, h5, h6
    color #37495A
    font-weight 400
    font-family 'Raleway', Arial, Helvetica, Sans-serif
    a
        color #3a3d42

h1
    font-size 48px
    margin-bottom: 80px;
    margin-top: 60px;
    padding-bottom: 15px;
    border-bottom: 1px solid #B7B7B7;

h2
    font-size 32px
    margin-bottom 35px
    margin-top 50px

h3
    font-size 28px
    margin-bottom 30px
    margin-top 40px

a
    text-decoration none
    color #428bca

a:hover
    text-decoration none
    color #4fabcf